#NotaQL config file
#Fri Jun 22 16:01:28 CEST 2016
mongodb_host=ahr
hbase_host=ahr
redis_host=ahr
spark_master=spark://ahr:27077
dependency_jar=hdfs://ahr:8020/notaql/notaql_datamodel.jar
hbase_trigger_jar=hdfs://ahr:8020/notaql/hbase_coprocessor.jar
hbase_trigger_coprocessor_url=http://ahr:18081/thesis/to_server
parallelism=2
kryo=false
statistics_file=/opt/notaql/statistics/statistics.ser
advisor_randomness=0.1